<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <% include ./partials/_header.ejs %>
  <% for(var shortkey in urls){ %>
  <ul>
    <li>Shortened Form: <strong> <%= shortkey %> </strong></li>
    <li>Full URL: <strong> <%= urls[shortkey] %> </strong></li>
    <a href="/urls/<%= shortkey %> ">Edit</a>
    <form method="POST" action="/urls/<%= shortkey %>/delete">
    <button type="submit" > Delete URL</button>
    </form>

  </ul>
<% } %>

<h2><%= username %> </h2>


<a href="#">Shorten URL</a>
</body>
</html>